<%# Show location information %>

    <p>
        <%= location.street.name %>
    </p>
    <p>
        <%= location.city %>, <%= location.state %>
    </p>
    <p>
        <%= location.country %>
    </p>
    <p>
        <%= location.postcode %>
    </p>